body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; 
}

th {
    width: 120px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.Cards{

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}
.Cards img{
    width: 400px;
    height: 266px;
}
td {
    padding: 5px;
}
.Cards h5{
    font-size: 25px;
    color: rgb(3, 3, 3);
}
.Cards h6 {
    font-size: 20px;
    color: rgb(3, 3, 3);
}
button{

    background-color: rgb(255, 0, 0);
    border:    3px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    text-shadow:  3px 3px 3px black;
}
.Cards button:hover {
    background-color: rgb(179, 6, 6);
    color: white;
    text-shadow:  3px 3px 3px black;
    cursor: pointer;
}
.blue {
    color: rgb(55, 0, 255);
}

.forground h1 {
    font-size: 90px;
    color: white;
    text-shadow: 3px 3px 3px black;
}